<div class="ui five column centered grid">
  <div class="column">
    <div class="ui cards">
      <div class="card">
        <div class="content">
          <div class="header"><%= @link.title %></div>
          <a href="<%= @link.link %>"><%= @link.title %></a>
          <div class="description"><%= @link.description %></div>
        </div>
      </div>
    </div>
  </div>
</div>